@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

body {
    font-family: "Vazirmatn", sans-serif;
}

.md-typeset h1 {
    margin-bottom: .2rem;
}

.md-typeset blockquote {
    border-left: 3px solid var(--md-primary-fg-color);
}

.md-typeset .md-button {
    border-radius: 10px;
}